<!--
 * Citation for the customers.hbs code structure.
 *
 * Date: 12/8/2024
 *
 * Adapted from CS 340 nodejs-starter-app, step 8, main.hbs
 * The html outline was adapted but the nav bar was implemented as original
 *
 * Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */ -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Magic Wares</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- Add custom CSS -->
    <style>
        .navbar-nav {
            flex-direction: row !important;
            width: 100%;
            justify-content: space-around;
        }

        .nav-item {
            padding: 0 20px;
        }

        .navbar {
            padding: 15px;
        }
    </style>
</head>
<body>
<nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-logo">
            <a class="nav-logo" href="/">Magic Wares</a>
            </div>
        <div class="navbar-links">
            <a class="nav-link" href="/wands">Wands</a>
            <a class="nav-link" href="/spells">Spells</a>
            <a class="nav-link" href="/customers">Customers</a>
            <a class="nav-link" href="/orders">Orders</a>
            <a class="nav-link" href="/order-items">Order Items</a>
        </div>
    </div>
</nav>

    {{{body}}}

</body>
</html>
