<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Wares Database</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Magic Wares Database</h1>
    </header>

    <main>
        <section>
            <h2>About</h2>
            <p>Welcome to the Magic Wares Database. Here, you can add and update products, orders, and customers.</p>
        </section>

</body>
</html>
