<!--
 * Citation for the homepage.hbs code structure.
 *
 * Date: 12/8/2024
 *
 * Adapted from CS 340 nodejs-starter-app, step 8, index.hbs
 * Tables and text changes were made to adapt the website's theme
 *
 * Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
 */ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Wares Database</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to the Magic Wares Database</h1>
    </header>

    <main>
        <section>
            <h2>About</h2>
            <p>Welcome to the Magic Wares Database. Here, you can add and update products, orders, and customers.</p>
        </section>

</body>
</html>
