body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: #a4a0cf;;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #53468b;;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  font-size: 23px;
  padding-bottom: 10px;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffcc00;
}

.magic-logo {
  width: 'fit-content';
  height: 165px;
  padding-top: 10px;
}

.magic-logo:hover {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  color: #ffffff;
  background-color: #443584;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 35px;
  color: #443584;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
}

table th,
table td {
  border: 1px solid #000000;
  padding: 12px;
  text-align: center;
}

table th {
  background-color: #443584;
  color: white;
}

table td button {
  padding: 5px 10px;
  font-size: 0.9em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table td button:hover {
  background-color: #5aceee;
  color: #333;
}

.magic-info {
  font-size: 19px;
  align-items: center;
  text-align: center;
  padding: 35px;
  background-color: #fff;
  border-bottom: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 10px auto;
  padding: 35px;
  background-color: #fff;
  border-radius: 10px;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  padding-top: 10px;
  font-weight: bold;
}

.form-group {
  display: flex;
}

form input[type="text"],
form input[type="email"] {
  padding: 8px;
  width: 250px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

select {
  width: 250px;
}

form button {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #5aceee;
  color: #333;
}

footer {
  background-color: #53468b;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}
